# MAQUETA PARA EL EQUIPO DE DESARROLLO

# (naomi) intuyo que el .env es para que cada uno tenga su propia configuración de variables de entorno, por eso no se sube al repositorio (esto me ha dicho el programa, pero yo creía que se compartía para todos).